{% extends "base.html"%}
{% load static %}

{% block title %}
  VerilogMaster
{% endblock %}

{% block content%}
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>JOIN THE MILLIONS</h1>
      <h2>Experience the power of Verilog.</h2>
      <a href="/intro1" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
  <section id="why-us" class="why-us">
        <div class="container">

          <div class="section-title" data-aos="zoom-in">
            <h2>About Us</h2>
            <h3>Know about our <span>website!</span></h3>
            <p class="font-italic" >A One-Stop platform for all your Verilog needs</p>
          </div>

          <div class="row">

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <span>01</span>
                <h4>Learn from the Basics!</h4>
                <p>We will help you build strong fundamentals in Digital Electronics in addition to Verilog Programming</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <span>02</span>
                <h4>The Pressure Cooker!</h4>
                <p>Got introduced to strange terms?<br>Don't worry, we have them explained at the end of each article</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <span>03</span>
                <h4>Master by Doing!</h4>
                <p>Code along with us referring to numerous scripts and simulation outputs in each technical article</p>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">6</span>
            <p>Articles</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">4</span>
            <p>Hard Workers</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">1</span>
            <p>Languages</p>
          </div>

        </div>

      </div>
    </section>

    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Team</h2>
          <h3>Our Hard Working <span>Team</span></h3>
          <p>We believe in learning by doing! We try our best to bring out all the concepts on the plate along with relevant examples. Our aim is to make the Verilog Language well understood among the users and learners.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static "img/team/rushikesh.jpeg"%}"heig class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/rushikesh.shendare"  target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/rushii_10"  target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.github.com/Rushikesh1008"  target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/rushikesh-shendare-461875134"  target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rushikesh Shendare</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static "img/team/ritika.jpeg"%}"class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/ritika.paliwal.334" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/paliwal_ritika/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.github.com/riti341" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/ritika341" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ritika Paliwal</h4>
                <span>Content Writer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static "img/team/biral.jpeg"%}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://m.facebook.com/biral.pradhan" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.instagram.com/biralpradhan/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                  <a href="https://www.github.com/biral-pradhan" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/biral-pradhan-73b139176/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Biral Kumar Pradhan</h4>
                <span>Graphic Designer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static "img/team/pratik.jpeg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/pratik.solav" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.github.com/pratiksolav"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/pratik-solav-57b6b41aa" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pratik Solav</h4>
                <span>Technical Lead</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Contact</h2>
          <h3>Check our <span>Contact</span> Details</h3>
          <p>Have a question or a comment? Please feel free to contact us<br>We will answer you as quickly as possible</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" id="gmap_canvas" src="https://maps.google.com/maps?q=nit%20waran&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>National Institute of Technology Campus, Warangal, Telangana - 506004</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>contact@verilogmaster.tech</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 8806443951</p>
                <p>+91 9826522196</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
{% endblock %}
