{% extends "base.html"%}
{% load static %}

{% block title %}
  Introduction to Verilog
{% endblock %}

{% block content%}
<section class="breadcrumbs" style="font-family:Montserrat;">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Intro-1</li>
      </ol>
    </div>

  </div>
</section>
<div class="row my-3">
  <div class="col-lg-3">
    <div class="pl-5" id="sidebar">
      <div class="sidebar-heading">Articles </div>
      <div class="list-group list-group-flush">
        <a href="/intro1" class="list-group-item list-group-item-action active">INTRO-I</a>
        <a href="/intro2" class="list-group-item list-group-item-action">INTRO-II</a>
        <a href="#" class="list-group-item list-group-item-action">Digital Basics</a>
        <a href="#" class="list-group-item list-group-item-action">Verilog Basics-1</a>
        <a href="#" class="list-group-item list-group-item-action">Verilog Basics-2</a>
        <a href="#" class="list-group-item list-group-item-action">Modules and Port Mappings</a>
      </div>
    </div>
  </div>
  <div id="page-content-wrapper" class="col-lg-6 border-left border-right mb-5">

    <div class="container-fluid" style="font-family:Lora;">
      <h1 class="mt-4" style="font-family:Raleway;">Introduction to Verilog - I</h1>
      <hr>
      <p id="one">If you are a digital electronics enthusiast, chances are high that you have come across the word ‘Verilog’. Since it is human nature to question and ponder everything the mind gathers, it is our responsibility to not trouble the reader with technical terms right in the beginning. So let us take a step back, and understand this: <strong>Why Verilog?</strong></p>

      <p id="two">In order to do that, let’s try to understand the problem faced by electronics engineers and researchers which urged them to develop such a powerful tool.
      Imagine being an electronics engineer in the 1970s. (It means you are a really respected person in the society!) You have the task to design and make electronics components for the newly hyped computers and other potentially future shaping devices.
      </p>

      <p id="three">As a highly esteemed electronics engineer of the 1970s, you want to make the best designs that help the machines run smoothly. You put your best efforts to design a chip and send it for fabrication. After some days, the final product comes back to you for final testing, only with a surprise of a nightmare coming true! It seems, you placed just one transistor wrong in your design and now the chip has a lot of errors due to that one small mistake! So, after rectifying your mistake, you have to send the chip for fabrication again, praying to God that there’s no other mistake!</p>

      <p id="four">This process flow used to be very time consuming and wasted a lot of money. But just like all other fields of science, the electronics industry has also seen path breaking ideas which changed the way this industry worked.</p>

      <p id="five">Let us come back to the 2020s. Nothing unknown to mention, we are surrounded by electronic devices. The backbone of every such device is the electronics core inside it, fabricated out of semiconductors. With increasing complexity of electronic devices, we realised that there is a need for Electronic Design and Automation (EDA) tools. These tools can be used to build complex electronic systems from scratch. EDA processes account for a huge share of the VLSI industry. A part of these EDA tools are Hardware Descriptive Languages(HDLs). These are almost exclusively used for design and verification of digital electronic circuits. One such widely used HDL is Verilog.</p>

      <p id="six">Verilog is a very user friendly language and comes at ease to C programmers. It may be confusing for a beginner to notice the difference in a HDL from a general programming language, but we assure you this difference will be crystal clear to you if you continue to read on the next articles. Move on to the <a href="/intro2">Intro-2</a> article, where we will try to explain from scratch the essence of this beautiful language. </p>
    </div>
  </div>
  <div id="in-this-article" class="d-none col-lg-3 d-xl-block">
    <div class="pl-3 sticky">
      <h2 class="in-this-article-heading">In this article</h2>
      <div class="list-group list-group-flush">
        <a href="#one" class="list-group-item list-group-item-action bg-light active">One</a>
        <a href="#two" class="list-group-item list-group-item-action bg-light">Two</a>
        <a href="#three" class="list-group-item list-group-item-action bg-light">Three</a>
        <a href="#four" class="list-group-item list-group-item-action bg-light">Four</a>
        <a href="#five" class="list-group-item list-group-item-action bg-light">Five</a>
        <a href="#six" class="list-group-item list-group-item-action bg-light">Six</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
