{% load static %}
<header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="{% static "img/logo_nobg.png" %}" class="img-fluid"></a>
        <h1 class="text-light d-inline ml-2"><a href="/">VerilogMaster</a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li id="home" class="active"><a href="/">Home</a></li>
          <li id="basics" class="drop-down"><a href="">Basics</a>
            <ul>
              <li><a href="/intro1">Intro I</a></li>
              <li><a href="/intro2">Intro II</a></li>
              <li><a href="/digital-basics">Digital Basics</a></li>
              <li><a href="/verilog-basics-1">Verilog Basics-I</a></li>
              <li><a href="#">Verilog Basics-II</a></li>
              <li><a href="/modules-and-port-mappings">Modules & Port Mappings</a></li>
              <li><a href="/behavioral-2">Behavioral-II</a></li>
          <li><a href="#why-us">About Us</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
