<div class="col-lg-3">
  <div class="pl-5" id="sidebar">
    <div class="sidebar-heading">Articles </div>
    <div class="list-group list-group-flush">
      <a id="intro1" href="/intro1" class="list-group-item list-group-item-action">INTRO-I</a>
      <a id="intro2" href="/intro2" class="list-group-item list-group-item-action">INTRO-II</a>
      <a id="vbasics1" href="/verilog-basics-1" class="list-group-item list-group-item-action">Verilog Basics-I</a>
      <a id="vbasics2" href="/verilog-basics-2" class="list-group-item list-group-item-action">Verilog Basics-II</a>
      <a id="dbasics" href="/digital-basics" class="list-group-item list-group-item-action">Digital Basics</a>
      <a id="modules" href="/modules-and-port-mappings" class="list-group-item list-group-item-action">Modules and Port Mappings</a>
      <a id="typesmodel" href="/types_of_modelling" class="list-group-item list-group-item-action">Types of Modelling</a>
      <a id="gatelevel" href="/gate-level-modelling" class="list-group-item list-group-item-action">Gate Level Modelling</a>
      <a id="dataflowlevel" href="/dataflow_level_modelling" class="list-group-item list-group-item-action">Dataflow Level Modelling</a>
      <a id="behavioral2" href="/behavioral-2" class="list-group-item list-group-item-action">Behavioral Modelling-II</a>
      <a id="halfadder" href="/half-adder" class="list-group-item list-group-item-action">Half Adder</a>
      <a id="fulladder" href="/full-adder" class="list-group-item list-group-item-action">Full Adder</a>
      <a id="fullhalf" href="/full-half-adder" class="list-group-item list-group-item-action">Full Adder using Half Adders</a>
      <a id="halfsubtractor" href="/half-subtractor" class="list-group-item list-group-item-action">Half Subtractor</a>
      <a id="mux" href="/mux" class="list-group-item list-group-item-action">Multiplexers</a>
      <a id="bin_to_gray" href="/bin_to_gray" class="list-group-item list-group-item-action">Code Converter - Binary to Gray</a>
      <a id="bin_to_bcd" href="/bin_to_bcd" class="list-group-item list-group-item-action">Code Converter - Binary to BCD</a>
      <a id="bin_to_xs3" href="/bin_to_xs3" class="list-group-item list-group-item-action">Code Converter - Binary to XS3</a>
      <a id="parity_generator" href="/parity_generator" class="list-group-item list-group-item-action">Parity Generator</a>

    </div>
  </div>
</div>
<script>
  document.getElementById('home').classList.remove('active')
  document.getElementById('basics').classList.add('active')
</script>