{% extends "base.html"%}
{% load static %}

{% block title %}
  Introduction to Verilog
{% endblock %}

{% block content%}
<section class="breadcrumbs" style="font-family:Montserrat;">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Intro-2</li>
      </ol>
    </div>

  </div>
</section>
<div class="row my-3" data-aos="fade-up">
  {% include "sidebar.html" %}
  <div id="page-content-wrapper" class="col-lg-6 border-left border-right mb-5">

    <div class="container-fluid" style="font-family:Lora;">
      <h1 class="mt-4" style="font-family:Raleway;">Introduction to Verilog - II</h1>
      <hr>

      <p>Verilog is a Hardware Description Language (HDL). It is widely used by engineers in the electronics and VLSI fields, and it is a very significant tool in the development of the electronics industry. It was developed in 1984 by Phil Moorby and Prabhu Goel.
      There are other HDLs also present (like VHDL), but Verilog is very popular and easy to learn. We can get a better grasp on hardware modelling in Verilog as compared to VHDL. Verilog can be called a richer language, it has so many features that you will get tired of counting!
      </p>

      <p>When a Verilog code is written and compiled, the hardware module is described by the software in terms of RTL schematic. This is a netlist in which logic gates and other digital blocks are used to carry out the described function(s). In the netlist, you can easily see the input wires and the output wires. It gives us an estimate of the physical complexity of our circuit. If we want to simulate the circuit or the digital block, then we have to write a separate code for simulation which is similar to the main code. This is called a test bench, and we will study about it soon. This is somewhat analogous to the test cases for a C/C++ code. The main use of such an extra code is to give inputs to the main code block and see the outputs being produced by it.
      Once you describe your digital circuit in Verilog and test its outputs after running a simulation, you can also check interconnect delays and power consumption statistics.
      </p>

      <p>You must have learned in C/C++ programming that the code is executed in the order in which the sentences are written. Things work almost in the same manner in Verilog, along with some special blocks that have non sequential runtimes. You can specify a block of code to be executed in the beginning or even at a particular time. You need not write the code in the same order as that of the execution when you use the apt keywords. We will learn more about keywords and execution in the coming articles.  </p>

      <p>The syntax of Verilog is C based and people who have knowledge of C/C++ can easily learn Verilog. Apart from the basic computer programming constructs available in a programming language, Verilog also has many interesting features exclusive to Digital Electronics and Design. If you are well versed with the concepts of Digital Electronics, you will have a smooth journey of learning Verilog. In case you feel that you need some revision, you can refer <a href="/digital-basics">Digital Basics.</a>
      </p>

      <p>No need to worry about the working of digital blocks! We will explain the working first and then help you out with its Verilog modeling.<br><strong>Much of introduction now, let’s start learning the language!</strong>
      </p>
    </div>
  </div>
  <div id="in-this-article" class="d-none col-lg-3 d-xl-block">
    <div class="pl-3 sticky">
      <h2 class="in-this-article-heading">In this article</h2>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  document.getElementById('intro2').classList.add('active')
</script>
{% endblock %}
